# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# cache
.swc/
.turbo

# vercel
_static/
.vercel/
.output
dist/

# misc
.DS_Store*
.env*.local
.env

# debug
.pnpm-debug.log*